/* line 8, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_mixins.scss */
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 13, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_mixins.scss */
.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

/* line 19, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_mixins.scss */
.success {
  border-color: green;
}

/* line 1, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_scaffolding.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}

/* line 9, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_scaffolding.scss */
a {
  color: #333333;
}
/* line 13, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_scaffolding.scss */
a:hover, a:focus {
  color: #25cbf5;
  text-decoration: none;
}

/* line 19, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_scaffolding.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}

/* line 28, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_scaffolding.scss */
html,
body {
  height: 100%;
}

/* line 4, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #333333;
}

/* line 12, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h1,
h2 {
  text-transform: uppercase;
}

/* line 16, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h1 {
  font-size: 4em;
}

/* line 20, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 24, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h3 {
  font-size: 1.3em;
}

/* line 28, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
h4 {
  font-size: 1em;
}

/* line 33, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
.home-text {
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.15);
  margin: 20px 0;
  letter-spacing: 1px;
  font-weight: 200;
}

/* line 43, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
.home-h1 {
  color: #25cbf5;
  font-size: 4.5em;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 51, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
.home-h1 > span {
  color: white;
}

/* line 55, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
.lead {
  letter-spacing: 1px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  /* line 61, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_typography.scss */
  .home-h1 {
    font-size: 4.5em;
  }
}
/* line 1, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_navbar.scss */
.navbar-default {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

/* line 6, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_navbar.scss */
.navbar-default .navbar-brand {
  font-weight: 700;
  color: #333333;
  font-size: 1.5em;
}

/* line 11, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
/* line 14, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #25cbf5;
}

/* line 1, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-theme, .btn-dark, .btn-cta, .btn-cta-o {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 15px 30px;
  ‐webkit‐transition: all 200ms ease-in;
  ‐moz‐transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* line 12, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-dark {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.3);
  color: #777777;
}
/* line 19, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-dark:hover, .btn-dark:focus {
  background: #000;
  color: white;
}

/* line 25, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-cta {
  background-color: #25cbf5;
  color: white;
}
/* line 31, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-cta:hover, .btn-cta:focus {
  background-color: #0ab2dd;
  color: white;
}

/* line 37, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-cta-o {
  color: white;
  border: 1px solid white;
}
/* line 43, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_buttons.scss */
.btn-cta-o:hover, .btn-cta-o:focus {
  background-color: white;
  color: #353739;
}

/* line 1, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#home {
  background-color: #333333;
  padding: 40px 0;
}

/* line 6, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#cta‐1 {
  background-color: #f5f4f2;
  padding: 40px 0;
}

/* line 11, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#testimonials {
  background-color: #333333;
}

/* line 15, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#cta-2 {
  background-color: #25cbf5;
  padding: 40px 0;
}

/* line 20, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#services {
  background-color: #333333;
}

/* line 24, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#cta-3 {
  background-color: #333333;
  padding: 40px 0;
}

/* line 29, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#footer {
  background-color: #333333;
}

/* line 33, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.section-padding {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* line 38, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.section-heading {
  margin-bottom: 40px;
}

/* line 45, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.color-reverse,
.color-reverse h2,
.color-reverse h3,
.color-reverse .icon {
  color: white;
}

/* line 50, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.color-reverse .icon:before,
.color-reverse .icon:after {
  border-bottom-color: white;
}

/* line 54, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon {
  display: inline‐block;
  font-size: 1.3em;
  line-height: 1.42857;
  width: 130px;
  margin: 0 auto;
  position: relative;
  color: #25cbf5;
}

/* line 65, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon:before,
.icon:after {
  display: inline‐block;
  content: "";
  border-bottom: 1px solid #25cbf5;
  position: absolute;
  top: 10px;
  width: 50px;
}

/* line 74, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon:before {
  left: 0;
}

/* line 78, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon:after {
  right: 0;
}

/* line 82, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon-bg {
  color: white;
}

/* line 87, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.icon-bg:before,
.icon-bg:after {
  border-bottom-color: white;
}

/* line 91, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.about-col .fa {
  width: 90px;
  height: 90px;
  line-height: 90px;
  color: #777777;
  border-radius: 50%;
  background-color: #f5f4f2;
}

/* line 101, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.services-col {
  color: #25cbf5;
}

/* line 105, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.services-col h3 {
  color: #25cbf5;
  margin-top: 0;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.75em;
}

/* line 113, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.services-col p {
  color: #777777;
  letter-spacing: 1px;
  font-kerning: 200;
  line-height: 2;
}

/* line 120, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.services-col .fa {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #25cbf5;
  border-radius: 35px;
  margin-bottom: 10px;
}

/* line 131, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.contact-hours .fa {
  color: #25cbf5;
}

/* line 135, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.social-channels .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #777777;
  background-color: #f5f4f2;
  margin-bottom: 10px;
}

/* line 145, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.author {
  color: #25cbf5;
  font-size: 1.1em;
}

/* line 152, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* line 158, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-wrap img {
  transition: all 200ms linear;
}

/* line 161, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 168, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 250ms linear;
}

/* line 180, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-wrap:hover .item-img-overlay span {
  opacity: 1;
}

/* line 183, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.item-img-wrap:hover img {
  transform: scale(1.1);
}

/* line 187, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.about-col, .team-col, .services-col, .portfolio-col, .facts-col, .blog-col {
  margin-bottom: 40px;
}

/* line 191, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.blog-col span {
  color: #777777;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 199, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.services-col {
  color: #25cbf5;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 206, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
  .services-col {
    text-align: left;
  }
}
/* line 211, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.scrollToTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999999;
  display: none;
  background: #25cbf5;
  opacity: 0.5;
  ‐webkit‐transform: all 0.3s;
  ‐moz‐transform: all 0.3s;
  transform: all 0.3s;
}

/* line 229, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}

/* line 236, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.parallax {
  background-attachment: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* line 244, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.parallax-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 254, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#home {
  background-image: url(../img/showcase-1.jpg);
  padding: 160px 0;
  width: 100%;
  height: 100%;
}

/* line 261, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#testimonials {
  background: url(../img/showcase-3.jpg);
  padding: 80px 0;
}

/* line 266, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#services {
  background: url(../img/showcase-2.jpg);
  padding: 80px 0;
}

/* line 271, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
#facts {
  background: url(../img/showcase-5.jpg);
  padding: 80px 0;
}

/* line 276, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_forms.scss */
.main-flex-slider {
  overflow: hidden;
}

/* line 1, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#home {
  background-color: #333333;
  padding: 40px 0;
}

/* line 6, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#cta‐1 {
  background-color: #f5f4f2;
  padding: 40px 0;
}

/* line 11, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#testimonials {
  background-color: #333333;
}

/* line 15, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#cta-2 {
  background-color: #25cbf5;
  padding: 40px 0;
}

/* line 20, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#services {
  background-color: #333333;
}

/* line 24, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#cta-3 {
  background-color: #333333;
  padding: 40px 0;
}

/* line 29, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#footer {
  background-color: #333333;
}

/* line 33, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.section-padding {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* line 38, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.section-heading {
  margin-bottom: 40px;
}

/* line 45, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.color-reverse,
.color-reverse h2,
.color-reverse h3,
.color-reverse .icon {
  color: white;
}

/* line 50, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.color-reverse .icon:before,
.color-reverse .icon:after {
  border-bottom-color: white;
}

/* line 54, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon {
  display: inline‐block;
  font-size: 1.3em;
  line-height: 1.42857;
  width: 130px;
  margin: 0 auto;
  position: relative;
  color: #25cbf5;
}

/* line 65, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon:before,
.icon:after {
  display: inline‐block;
  content: "";
  border-bottom: 1px solid #25cbf5;
  position: absolute;
  top: 10px;
  width: 50px;
}

/* line 74, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon:before {
  left: 0;
}

/* line 78, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon:after {
  right: 0;
}

/* line 82, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon-bg {
  color: white;
}

/* line 87, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.icon-bg:before,
.icon-bg:after {
  border-bottom-color: white;
}

/* line 91, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.about-col .fa {
  width: 90px;
  height: 90px;
  line-height: 90px;
  color: #777777;
  border-radius: 50%;
  background-color: #f5f4f2;
  transition: 0.7s ease-in-out;
}

/* line 103, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col {
  color: #25cbf5;
}

/* line 107, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col h3 {
  color: #25cbf5;
  margin-top: 0;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 1.75em;
}

/* line 115, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col p {
  color: #777777;
  letter-spacing: 1px;
  font-kerning: 200;
  line-height: 2;
}

/* line 122, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col .fa {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  background-color: #25cbf5;
  border-radius: 35px;
  margin-bottom: 10px;
  transition: 0.7s ease-in-out;
}

/* line 135, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.contact-hours .fa {
  color: #25cbf5;
}

/* line 139, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.social-channels .fa {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #777777;
  background-color: #f5f4f2;
  margin-bottom: 10px;
}

/* line 149, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.author {
  color: #25cbf5;
  font-size: 1.1em;
}

/* line 156, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* line 162, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-wrap img {
  transition: all 200ms linear;
}

/* line 165, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 172, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-overlay span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 250ms linear;
}

/* line 184, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-wrap:hover .item-img-overlay span {
  opacity: 1;
}

/* line 187, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.item-img-wrap:hover img {
  transform: scale(1.1);
}

/* line 191, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.about-col, .team-col, .services-col, .portfolio-col, .facts-col, .blog-col {
  margin-bottom: 40px;
}

/* line 195, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.blog-col span {
  color: #777777;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 20px;
}

/* line 203, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col {
  color: #25cbf5;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 210, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
  .services-col {
    text-align: left;
  }
}
/* line 215, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.scrollToTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999999;
  display: none;
  background: #25cbf5;
  opacity: 0.5;
  ‐webkit‐transform: all 0.3s;
  ‐moz‐transform: all 0.3s;
  transform: all 0.3s;
}

/* line 233, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}

/* line 240, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.parallax {
  background-attachment: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* line 248, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.parallax-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 258, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#home {
  background-image: url(../img/showcase-1.jpg);
  padding: 160px 0;
  width: 100%;
  height: 100%;
}

/* line 265, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#testimonials {
  background: url(../img/showcase-3.jpg);
  padding: 80px 0;
}

/* line 270, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#services {
  background: url(../img/showcase-2.jpg);
  padding: 80px 0;
}

/* line 275, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
#facts {
  background: url(../img/showcase-5.jpg);
  padding: 80px 0;
}

/* line 280, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.main-flex-slider {
  overflow: hidden;
}

/* line 285, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.about-col:hover .fa {
  background-color: #25cbf5;
  color: white;
  transform: rotateY(360deg);
}

/* line 291, /Users/tomokosugiyama/Documents/School/vmd142/vmd142/quick/scss/_other.scss */
.services-col:hover .fa {
  background-color: #25cbf5;
  color: white;
  transform: rotateY(360deg);
}
