 .form‐control {
       border-radius: 0;
       margin‐bottom: 30px;
     font-size: 12px;
     color: $gray;
     background: $white;
     transition: all 200ms ease-in;
}
    label {
       font‐weight: 10px; // refer to PNG
}

.form-control:focus {
    background: $gray-lighter;
    border-color: $gray;
}
