@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box {
    @include border-radius(10px);

}

.message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.success {
    @extend .message;
    border-color: green;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
          @if $vendors {
            @each $vendor in $vendors {
              #{"‐" + $vendor + "‐" + $property}: #{$value};
} }
          #{$property}: #{$value};
}