body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

a {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}
