// Colors
$white: #fff;
$gray-darker: #353739; // footer background
$gray-dark: #333333; // header text
$gray:#777777 ; // blog date text
$gray-light: #bbbbbb; // footer text
$gray-lighter:#f5f4f2 ; // icon background (about section)
$blue:#25cbf5  ; // blue button

// Scaffolding
$body-bg: $white; // background color for <body>
$text-color: $gray-dark; // global text color for <body>
$link-color: $gray-dark; // global textual link color
$link-hover-color: $blue; // global hover link color
$link-hover-decoration: none; // global link decoration

// Typography
$font-family-base:'Lato', sans-serif ; // enter font stack for Lato web font
$font-family-headings:'Montserrat', sans-serif; // enter font stack for Montserrat web font
$font-size-base: 14px; // same as Bootstrap default
$font-size-h1:53px ; // 4x base 
$font-size-h2: 38px; // 2x base
$font-size-h3:25px ; // 1.3x base
$font-size-h4: 0px; // 1x base (same size)
$line-height-base: 1.428571429; // same as Bootstrap default
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $gray-dark;



